{% extends 'products.html' %} {% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="w-1/2 my-6 mx-auto p-6 bg-gray-300 rounded-xl ">
        <div class="p-7">
        <h1 class="mb-6 text-3xl">Update Profile</h1>
    </div>
    {% if sucess_message %}
    <div class="bg-green-100 border border-green-400 text-black px-4 py-2 mb-4 rounded-md">
    {{ sucess_message }}
    </div>
    {% endif %}
        <form method="post" action="{% url 'profile' %}"  enctype="multipart/form-data" >
            {% csrf_token %}
            <div class="flex gap-5">
            <div class="mb-3 flex flex-col">
                <label class="inline-block mb-2">
                    First Name
                </label> 
                <input class="ml-2 rounded-md w-72 p-2" type="text" name='first_name' value="{{ user_profile.first_name }}">
            </div>

            <div class="mb-3 flex flex-col" >
                <label class="inline-block mb-2">
                    Last Name
                    
                </label>
                <input class="ml-2 rounded-md w-72 p-2" type="text" name='last_name' value="{{ user_profile.last_name }}"> 
            </div>
        </div>
        <div class="flex gap-5">
            <div class="mb-3 flex flex-col">
                <label class="inline-block mb-2">
                    Email
                </label> 
                <input class="ml-2 rounded-md w-72 p-2" type="email" name='email'  value="{{ user_profile.email }}">
            </div>

            <div class="mb-3 flex flex-col" >
                <label class="inline-block mb-2">
                    Phone
                    
                </label>
                <input class="ml-2 rounded-md w-72 p-2" type="text" name='phone_number' value="{{ user_profile.phone_number }}"> 
            </div>
            
        </div>
        <div class="p-6">
        <label for="profile_picture">Profile Picture:</label>
        <input type="file" id="profile_picture" name="profile_picture"><br>
        </div>
            <div class="p-7 flex">
            <button class="py-4 px-8 text-lg bg-teal-500 text-white hover:bg-teal-700 rounded-xl" type="submit">Submit</button>
        </div>
            
        </form>
    </div>
</body>
</html>
{% endblock %}